<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-9 my-5">
      <div class="card border border-danger">
        <div class="card-header bg-light">
          <div class="card-tittle text-center">
            <h3 class="fw-bold">Antonia Alarcon</h3>
          </div>
        </div>
        <div class="card-body">
          <div class="row justify-content-around">
            <div class="col-md-3">
              <h4 class="text-danger text-center fw-bold">Hobbies</h4>
              <p><i class="fa-solid fa-screwdriver-wrench text-danger me-2"></i>Bricolaje</p>
              <p><i class="fa-brands fa-pagelines text-danger me-2"></i>Jardinería</p>
              <p><i class="fa-solid fa-truck-monster text-danger me-2"></i>Automoción</p>
            </div>

            <div class="col-md-3">
              <h4 class="text-danger text-center fw-bold"><span>Habilidades</span></h4>
              <p><i class="fa-solid fa-user-plus text-danger me-2"></i>Trabajo en Equipo</p>
              <p><i class="fa-solid fa-book text-danger me-2"></i>Autodidacta</p>
              <p><i class="fa-solid fa-ear-listen text-danger me-2"></i>Atención</p>
            </div>

            <div class="col-md-3">
              <h4 class="text-danger text-center fw-bold"><span>Datos</span></h4>
              <p><i class="fa-regular fa-calendar-days text-danger me-2"></i>Cosecha del 89'</p>
              <p><i class="fa-solid fa-location-dot text-danger me-2"></i>Manchega de pura cepa</p>
              <p></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
