<div class="contaniner-fluid">
  <nav class="navbar navbar-expand-lg bg-danger">
    <div class="container">
      <a class="navbar-brand text-white" routerLink="/"><strong><i class="fa-solid fa-cat me-1"></i>Cats APP</strong></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
              aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link text-white" routerLink="/inicio" routerLinkActive="active"><i class="fa-solid fa-house me-1"></i>Inicio</a>
          <a class="nav-link text-white" routerLink="/cats" routerLinkActive="active"><i class="fa-solid fa-paw me-1"></i>Cats</a>
          <a class="nav-link text-white" routerLink="/autor" routerLinkActive="active"><i class="fa-regular fa-address-card me-1"></i>Autor</a>
        </div>
      </div>
    </div>
  </nav>
</div>
